@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    @apply font-poppins text-white overflow-x-hidden bg-white relative;
}
html{
    @apply overflow-x-hidden
}

.blog-body{    
    /**Major Properties**/
    overflow:hidden;
    -webkit-box-orient: vertical;
    display: block;
    display: -webkit-box;
    overflow: hidden !important;
    text-overflow: ellipsis;
    -webkit-line-clamp: 4;
}

.blog-paragraph > p > p{
    @apply mb-5
}

.primary-color{
    @apply bg-[#1D053C]
}

.secondary-color-border{
    @apply border-[#F9FF73]
}
.secondary-color-background{
    @apply  bg-[#F9FF73]
}

.BtnEffect {
    z-index: 1;
}

.BtnEffect::after {
    content: '';
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transform: translateX(-100%);
    transition: transform 600ms cubic-bezier(0, .70, .60, 1);
}

.privacy p{
    @apply mb-10
}

.BtnEffect:hover::after {
    transform: translateX(0);
}


.center{
    @apply flex justify-center items-center
}

.reset-spaces{
    @apply m-0 p-0
}

*{
    @apply m-0 p-0
}

.active{
    @apply tracking-wide border-b-[1px] xl:border-[#495FEF] border-white
}